.home-img img{
	width: 573px;
	padding-top: 129px;
}

/*Home page form*/
.check-credit-form{
	border: solid 1px #ccc;
	padding: 20px;
	overflow: hidden;
}

.home-sec-2  .btn-large{
	    margin-top: 30px;
}

.block{
	border: solid 1px #ccc;
	padding: 20px;
}

.join-opt-head{
	border-bottom: solid 1px #ccc;
}

.join-opt{
	background-color: #f5f5f5;
	border-bottom: solid 1px #ccc;
}

.join-opt-body{
	/*padding-top: 15px;*/
}

.join-opt .btn{
	/*text-align: center;*/
	/*margin-left: 30%;*/
	width: 400px;
}

/*profile*/
.profile-img img{
	width: 200px;
}

.profile-sidebar-img img{
	width: 50px;
}

.profile-sidebar-img{
	/*display: table;*/
	padding-right: 10PX;
}
.profile-img{
	padding-right: 10px;
}

.profile-card .card{
	height:280px;	
	/*overflow: hidden;*/
}

.profile-body .card-action{
	/*height: 100px;*/
	margin-top: 40px;
}

.page{
	overflow: hidden;
}
.page .row{
	margin-bottom: 0px;
}

footer.page-footer{
	margin-top: 0px;
}

.form{
	width: 300px;
}

/*memebrs*/
/*.mem-img img{
	width: 150px;
	padding-right: 10px;
}*/

/*.mem-card .card .card-content{
	padding-bottom: 10px;
}
*/

.mem-card .small{
	height: inherit;
}
/*parallax*/

.parallax img{
	width: 100px;
}

.para-info{
	color: #fff;
	font-size: 50px;
	padding-left: 40px;
}


.mem-search .mem-search-top{
	background-color: #0aa89e;
	margin: 10px;
	padding: 5px 10px  5px  10px;
}

.mem-search .card-panel{
	padding: 0px;
}

.mem-search-mid-img img{
	width: 125px;
}



.mem-search-mid{
	padding: 0px 20px 20px 20px ;
} 

.mem-search-mid-section:hover{
	background-color: #f2f3f3;
}
.mem-search-mid-section{
	padding-bottom: 20px;
} 

.mem-search-mid-section .section{
	/*margin-right: 30px;*/
}

.mem-search-top .mem-search-input{
	font-size:1.6em;
	padding-left: 0rem;
}
.mem-search-top .input-field input[type=search]{
	/*font-size:1.6em;*/
	padding-left: 1rem;
}


.mem-search-top .input-field input[type=search]:focus {
    background-color: transparent;
    color: #f2f3f3;	
     border-bottom: 1px solid #bcf2ee;
}

.mem-search-top .btn-large{
	margin-top: -10px;
	/*width: 50px;*/
	/*height: 50px;*/
}